<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding:0;
            margin:0;
            box-sizing: border-box;
        }
        body{
            background-color: rgb(216, 142, 154);
        }
        div{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        h1{
            font-size: 70px;
            color:white;
            width:100%;
        }
        a{
            text-decoration: none;
            background-color: white;
            color: rgb(215, 106, 124);
            margin:30px auto 0 auto;
            width:150px;
            height:50px;
            line-height: 50px;
            display:flex;
            justify-content: center;
            border-radius: 7px;
        }
    </style>
</head>
<body>

    <div>
        <h1>Explore My To-do App !</h1>

        <a href="./to-do_app">Click to Explore</a> 
    </div>
    
</body>
</html>