<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding:0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background-color: #D2E0FB;
        }
        h1{
            text-align: center;
            font-size: 40px;
            color:#295F98;
            margin-top: 60px ;
        }
        .main{
            border:5px solid rgba(41, 95, 152,0.7);
            border-radius: 10px;
            padding:50px;
            width:25%;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        input{
            /* padding:10px 20px 10px 15px; */
            margin: 10px 0;
            padding-left: 15px;
            width:250px;
            height:50px;
            border-radius: 5px;
            border:none;
        }
        .btn{
            width:250px;
            height:50px;
            border-radius: 5px;
            border:none;
            background-color: rgb(89, 102, 126);
            color:white;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h1>Let's Register to Connect </h1>

    
<div style="text-align:center">
    <a href="/adminRoutes/login">Login</a>
<a href="/adminRoutes/register">Register</a>
<a href="/proRoute/form">Form</a>
<a href="/proRoute/getData">Home</a>
</div>

    <div class="main">
        <form action="/registerData" method="POST" id="form">
            <div>
                <span><input type="text" placeholder="Enter Your Name" id="name"></span>
            </div>
            <div>
                <span><input type="email" placeholder="Enter Your Email" id="email"></span>
            </div>
            <div>
                <span><input type="password" placeholder="Enter Your Password" id="pass"></span>
            </div>
            <div>
                <button class="btn" id="submit">Submit</button>
            </div>
        </form>
    </div>

    <script>

        let form = document.querySelector("#form")

        // add event listner to the form

        form.addEventListener("submit",(e)=>{
            e.preventDefault()
            let name = document.querySelector("#name").value
            let email = document.querySelector("#email").value
            let pass = document.querySelector("#pass").value

            console.log(name,email,pass)
            fetch("/adminRoutes/registerData",{
                method:"POST",
                body:JSON.stringify({name,email,pass}),
                headers:{
                    "content-type":"application/json;charset=UTF-8"
                }
            })
            // }).then((res) => res.json())
            // .then((data) => console.log(data))
            .then((res)=> console.log("admin added succesfully !"))
            .catch((err) => console.log(err))

            document.querySelector("#name").value = ""
            document.querySelector("#email").value = ""
            document.querySelector("#pass").value = ""
   
        })

    </script>
    
</body>
</html>